.App {
  /*text-align: center;*/
  background: darkgrey;
}
.box {
  border: 2px solid black;
  width: 50%;
  min-height: 40px;
  margin: 2px auto;
  overflow:hidden;
}
.box p {
  margin: 2px 0 0 18px;
  max-width: 100%;
}
.rank {
  float: left;
  position: relative;
  margin: 0 0;
}
.tpbLink {
  font-size: 12px;
}
.hidden {
  display:none;
}
.shown {
  display:block;
}
.yt {
  width: 100%;
}
.button {
  max-width: 50px;
  margin: 0 0;
  float: left;
  color: red;
}
.button:hover {
  color:blue;
}
.data {
  /*width: 80%;*/
  margin: 0 0;
  /*position:absolute;*/
  /*float: right;*/
}
#leftAd {
  height: 600px;
  width: 160px;
  border: 2px solid black;
  margin-left: 40px;
  margin-top: 40px;
  position: fixed;
}
#rightAd {
  height: 600px;
  width: 160px;
  border: 2px solid black;
  top: 40px;
  right: 40px;
  position: fixed;
}
#topAd {
  height: 90px;
  width: 728px;
  border: 2px solid black;
  margin: 15px auto 30px auto;
}
#bottomAd {
  height: 90px;
  width: 728px;
  border: 2px solid black;
  margin: 15px auto 30px auto;
}
